@charset "UTF-8";

/* todo MAIN STYLESHEET */
@font-face {
    font-family: 'betinascriptcbold';
    src: url('../fonts/betinascriptc-bold-webfont.woff2') format('woff2'),
    url('../fonts/betinascriptc-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mullerbold';
    src: url('../fonts/mullerbold-webfont.woff2') format('woff2'),
    url('../fonts/mullerbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mullermedium';
    src: url('../fonts/mullermedium-webfont.woff2') format('woff2'),
    url('../fonts/mullermedium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mullerthin';
    src: url('../fonts/mullerthin-webfont.woff2') format('woff2'),
    url('../fonts/mullerthin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}

*, * ::before, * ::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

.content-box-component {
    box-sizing: content-box;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 10px;
}


/* todo HEADER*/
.video-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
}
.start-video {
    position: absolute;
    top: 700px;
    left: 700px;
    z-index: 2;
    cursor: pointer;
}

.main-header {
    position: relative;
    height: 800px;
    color: #FFFFFF;
}

.header-wrapper {
    position: relative;
    z-index: 1;
    overflow: hidden;
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    font-family: 'mullethin';
    font-weight: normal;
    font-style: normal;
    font-size: 22px;
    line-height: 26px;
}

.user-info {
    display: flex;
    justify-content: space-between;
}

.user-info a {
    margin-top: 15px;
}

.schedule {
    margin-left: 230px;
    padding: 0;
    list-style: none;
}

.main-header-logo {
    margin-left: 47px;
}

.phone-number {
    margin-top:45px;
    margin-right: 70px;
    padding: 0;
    list-style: none;
}

.phone-number li:nth-child(2) {
    margin-top: 19px;
}

.user-basket {
    margin-top: 85px;
    margin-right: 10px;
    padding: 0;
    list-style: none;
}

.user-basket a {
    border-bottom: 1px dashed  #FFFFFF ;
}

.main-navigation {
    margin-top: 100px;
}

.site-navigation {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-navigation li {
    position: relative;
}

.site-navigation li:nth-child(2),
.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4),
.site-navigation li:nth-child(5) {
    padding-left: 80px;
}

.site-navigation li:nth-child(2):before,
.site-navigation li:nth-child(3):before,
.site-navigation li:nth-child(4):before,
.site-navigation li:nth-child(5):before {
    content: "";
    position: absolute;
    top: 10px;
    left: 35px;
    width: 5px;
    height: 5px;
    border-radius: 4px;
    background-color: #FFFFFF;
}

.site-navigation li:nth-child(1):after {
    content: url("../img/menu.png");
    position: absolute;
    top: -50px;
    left: 10px;
}

.site-navigation li:nth-child(2):after {
    content: url("../img/services.png");
    position: absolute;
    top: -60px;
    left: 100px;
}

.site-navigation li:nth-child(3):after {
     content: url("../img/photo_reports.png");
     position: absolute;
     top: -50px;
     left: 115px;
}

.site-navigation li:nth-child(4):after {
    content: url("../img/stock.png");
    position: absolute;
    top: -48px;
    left: 130px;
}

.site-navigation li:nth-child(5):after {
    content: url("../img/business_card.png");
    position: absolute;
    top: -45px;
    left: 100px;
}

/* todo MENU*/
.content {
    background: url("../img/wood_background.jpg") top center no-repeat;
}

.menu {
    width: 1200px;
    height: 800px;
    margin: 0 auto;
    padding: 0 10px;
    overflow: hidden;
}

.menu h2 {
    margin-top: 60px;
    margin-bottom: 70px;
    padding: 0;
    font-family: 'betinascriptcbold';
    font-weight: normal;
    font-style: normal;
    text-align: center;
    font-size: 50px;
}

.menu-list {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 541px;
    font-family: 'mullermedium';
    font-weight: normal;
    font-style: normal;
}

.menu-list li:nth-child(2),
.menu-list li:nth-child(3) {
    padding-left: 30px;
}

.menu-item b {
    position: relative;
    padding: 15px 130px;
    background-color: #262626;
    font-size: 28px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    white-space: nowrap;
}

.menu-item b:before {
    position: absolute;
    content: "";
    top: 65px;
    left: 132px;
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-top: 60px solid #262626;
}

.menu-item p {
    margin-top: 45px;
}

.button {
    display: inline-block;
    padding: 14px 126px;
    border-radius: 35px;
    font: inherit;
    font-size: 28px;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    background-color: #ffb300;
    border: none;
}

/* todo PROMOTION */
.promotion {
    width: 1440px;
    height: 515px;

}

.slides {
    position: relative;
    height: 100%;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    font-family: 'mullermedium';
    font-weight: normal;
    font-style: normal;
}

.slide {
    position: absolute;
    left: -10px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.showing {
    opacity: 1;
    z-index: 2;
}

.slide {
    font-size: 40px;
    padding: 40px;
    box-sizing: border-box;
    background: #333;
    color: #fff;
}

.slide p {
    text-align: center;
    padding-top: 130px;
    font-size: 62px;
    line-height: 26px;
}

.slide:nth-of-type(1) {
    background: url("../img/slider_slide1.png")  top center no-repeat;
}

.slide:nth-of-type(2) {

}

.slide:nth-of-type(3) {
}

/*
.slide:nth-of-type(1):hover {
    -webkit-filter: blur(6px);
    filter: blur(6px);
}
*/

.slider-wrapper {
    width: 100%;
    height: 100%;
}

.buttons{
    position: relative;
}

.controls-previous {
    position: absolute;
    left: 70px;
    top:-300px;
    z-index: 10;
    font-size: 0px;
    background: transparent;
    color: #FFFFFF;
    border: none;
    font-size: 60px;
    cursor: pointer;
    width: 70px;
}

.controls-previous:hover,
.controls-previous:focus{
    color: #ffb300;
}

.controls-next {
    position: absolute;
    right: 70px;
    top:-300px;
    z-index: 10;
    font-size: 0px;
    background: transparent;
    color: #FFFFFF;
    border: none;
    font-size: 60px;
    cursor: pointer;
    width: 70px;
}

.controls-next:hover,
.controls-next:focus{
    color: #ffb300;
}

/* todo FOOTER */
.main-footer {
    height: 313px;
    background-image:
            url("../img/yellow_figure.png"),
            url("../img/wood_background.jpg");
    background-position: 260px -780px, 0 0;
    background-repeat: no-repeat, no-repeat;
    font-family: 'mullerthin';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    line-height: 26px;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    margin-top: 45px;
    margin-left: 109px;
}

.main-footer h3 {
    font-family: 'mullerbold';
    font-weight: normal;
    font-style: normal;
    color: #000000;
}

.footer-contacts h3 {
    margin-top: 45px;
    margin-left: 43px;
}

.contacts-list {
    margin-left: 40px;
    padding: 0;
    list-style: none;
}

.contacts-list li:nth-child(3) {
    padding-top: 20px;
}

.footer-social h3 {
    margin-top: 45px;

}

.social-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-copyright {
    margin-top: 261px;
    margin-right: 110px;
}

.footer-copyright a {
    color: #000000;
    font-size: 16px;
    line-height: 41px;
}

.studio {
    font-family: 'mullerbold';
    font-weight: normal;
    font-style: normal;
}